$time0: .15s;
$time12: .22s;
$time: .3s;
$time45: .45s;
$time2: .6s;

$color-text-base: #000;
$color-ui-main: #0075d8;
$color-ui-selection: #04a8f5;
$color-record-bg: #fcf8e3;
$color-record-text: #8d7240;